/*text of labels for the forms*/
body.toggleLight label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
    color: black;
}

body.toggleDark label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
    color: white;
}

/*the bottom 5/6 of the page*/
section.content {
    display: flex;
    flex-basis: auto;
}
body.toggleLight canvas { 
    border-top: 4px solid black;
    border-right: 4px solid black;
    padding-top: 150px;

}

body.toggleDark canvas { 
    border-top: 4px solid white;
    border-right: 4px solid white;
    padding-top: 150px;

}

body.toggleLight section.form {
    border-top: 4px solid black;
    border-left: 4px solid black;
    margin-left: 3px;
    padding-top: 230px;
    padding-left: 100px;

}

body.toggleDark section.form {
    border-top: 4px solid white;
    border-left: 4px solid white;
    margin-left: 3px;
    padding-top: 230px;
    padding-left: 100px;

}
header {
    display: flex;
}
section#toggle button.toggleLight {
    display: flex;
    justify-content: end;
}

body.toggleLight header {
    border-bottom: 4px solid black;
    padding : 20px;
    display: flex;
    justify-content: end;
    margin-bottom: 3px;
    flex-wrap: nowrap;
}
body.toggleDark header {
    border-bottom: 4px solid white;
    padding : 20px;
    display: flex;
    justify-content: end;
    margin-bottom: 3px;
    flex-wrap: nowrap;
}